
<!DOCTYPE html>
<html lang="en">
<head>

<body class="hold-transition login-page">

<div class="content-wrapper">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
   
      <form action="country" method="post">


            <div>
                <label>Country Name</label>
                <input class="form-control" type="text" name="country">&nbsp;
                
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>

</body>
</html>
