
<!DOCTYPE html>
<html lang="en">
<head>

<body class="hold-transition login-page">

<div class="content-wrapper">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
   
      <form action="state" method="post">


            <div>
                <label>State Name</label>
                <input class="form-control" type="text" name="state">&nbsp;
                <label>Country Name</label>
                <select name="country">
                  {{#each mydata}}
                  <option value="{{_id}}">{{country}}</option> 
                  {{/each}}
                </select>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>

</body>
</html>
